// header {{{
header {
    padding: 4rem 0;
    max-width: 1100px;
    margin: 0 auto;
    .row {
        .col-lg-9 {
            display:flex;
            align-items: center;
            justify-content: flex-end;
            @include bp(lg) {
                position: relative;
                overflow:hidden;
            }
        }
    }
    h1, h3 {
        line-height:1;
        font-family: $alt-stack;
        background: linear-gradient(54.4deg, $light-blue 10.45%, $blue 50%, $dark-blue 89.55%);
        // background: $dark-blue;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include bp(lg) {
            margin-bottom: 0;
            display:inline-block;
        }
    }
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
        @include bp(lg) {
            margin-left: 1rem;
        }
    }
}
// }}}

// nav {{{
.close-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    // background: rgba(#000, .1);
    transition: all .3s ease;
    &.active {
        opacity:1;
        visibility: visible;
    }
}
nav {
    // background-color: #051348;
    background-color: rgba(17,23,44, .99);
    padding-top: 9rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    transform: translateX(100%);
    transition: all 170ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 99;
    &.open {
        transform: translateX(0);
        @include bp(lg) {
            transform: translateX(0) scale(1, 1);
        }
    }
    @include bp(lg) {
        margin-top: 0;
        background:none;
        position:absolute;
        width: auto;
        height: auto;
        padding-top:5px;
        margin-right: 4rem;    
        transform: translateX(0) scale(0, 1);
        transform-origin: 100% 0;
    }

    ul {
        list-style:none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include bp(lg) {
            flex-direction: row;
        }
        li {
            margin: .5rem;
            @include bp(lg) {
                margin:0;
            }
            &.active {
                a {
                    &::after {
                        width: calc(100% - 2rem);
                    }
                }
            }
            a {
                font-family: $alt-stack;
                text-transform:uppercase;
                position: relative;
                padding: 1rem;
            }
        }
    }
}
// }}}

// main {{{
main {
    padding-bottom: 8rem;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
section {
    display:none;
    &.active {
        display: block;
        animation: fadeInUp .3s ease;
        animation-fill-mode:both;
    }
}
// }}}

// #home {{{
#home {
    .col {
        @include bp(lg) {
            text-align: left;
            padding-top: 4rem;
        }
    }
    h2 {
        font-size: 4.5rem;
        margin-bottom: 2rem;
        animation: fadeInUp .4s ease;
        animation-delay: .5s;
        animation-fill-mode: both;
        @include bp(xs) {
            font-size: 2.5rem;
            font-size: 15vw;
        }
    }
    h3 {
        // font-size: 1.1rem;
        font-size: 5.9vw;
        line-height: 1.5;
        animation: fadeInUp .4s ease;
        animation-delay: 1s;
        animation-fill-mode: both;
        @include bp(md) {
            font-size: 2.4rem;
        }
        &:last-of-type {
            display:inline-block;
            margin-bottom: 0;
            line-height: 2;
            position: relative;
            top: -2.25vw;
            @include bp(md) {
                top: -.9rem;
                line-height: 1.5;
            }
        }
    }
    .list-container {
        overflow: hidden;
        // height: 40px;
        height: 10vw;
        display:inline-block;
        animation: fadeInUp .4s ease;
        animation-delay: 1s;
        animation-fill-mode: both;
        @include bp(md) {
            height: 70px;
        }
    }
    .list {
        display:inline-block;
        list-style: none;
        // text-align: left;
        overflow: hidden;
        padding-left: 1vw;
        animation-name: change;
        animation-duration: 10s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        @include bp(md) {
            padding-left: .5rem;
        }
        li {
            // font-size: 1.1rem;
            font-size: 5.8vw;
            line-height:2;
            font-family: $alt-stack;
            @include bp(md) {
                font-size: 2.4rem;
                line-height: 1.5;
            }
        }
    }
}
// }}}

// #about {{{
#about {
    p {
        font-size: 1.1rem;
        @include bp(md) {
            font-size: 1.75rem;
        }
    }
    .bg {
        position: relative;
        margin-bottom: 3rem;
        &::before {
            content: '';
            position: absolute;
            top: 1rem;
            left: 2rem;
            right: 0;
            margin: auto;
            height: 100%;
            width: 100%;
            max-width: 200px;
            background: linear-gradient(54.4deg, $light-blue 10.45%, $blue 50%, $dark-blue 89.55%);
            z-index: -1;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
// }}}

// #work {{{
[data-aos="fade-up"] {
    transform: translate3d(0, 30px, 0);
}
#work {
    p {
        font-size: 1.625rem;
        font-family: $alt-stack;
        @include bp(lg) {
            font-size: 2.4rem;
        }
        &.text-center {
            margin-bottom: 4rem;
        }
    }
    .gh {
        position: relative;
        color: $dark-blue;
        &::after {
            content: '';
            background: $dark-blue;
            height: 2px;
            width: 0;
            display: block;
            position: absolute;
            left: 0;
            transition: all .5s cubic-bezier(.19,1,.22,1);
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    h3 {
        font-size: 2rem;
    }
    .row {
        @include bp(md) {
            display: flex;
            align-items: center;
            position: relative;
        }
    }
    .project {
        margin-bottom: 6rem;
        &:nth-of-type(odd) {
            .text {
                right: 0;
            }
        }
        &:nth-of-type(even) {
            .text {
                left: 0;
            }
        }
        &:nth-of-type(5) {
            @include bp(lg) {
                margin-bottom: 13rem;
            }
        }
        @include bp(lg) {
            margin-bottom: 10rem;
        }
        .description {
            font-size: 1.2rem;
        }
        .text {
            text-align: center;
            margin-top: 2rem;
            @include bp(lg) {
                position: absolute;
                background-color: rgba(17,23,44, .9);
                max-width: 450px;
                width: 100%;
                padding: 2rem;
                z-index: 2;
                text-align: left;
            }
        }
        .project-links {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @include bp(lg) {
                justify-content: flex-start;
            }
            a {
                display: inline-block;
                margin: 0 .5rem;
                // padding: .25rem;
            }
            svg {
                fill: $dark-blue;
                transition: all .3s ease;
                &:hover {
                    opacity: .8;
                }
            }
        }
        a {
            &:hover {
                img {
                    opacity: .95;
                }
            }
            img {
                opacity: .85;
                transition: all .3s ease;
            }
        }
    }
}

// }}}

// #references {{{
#references {
    // max-width: 1000px;
    // margin: 0 auto;
    &.active {
        blockquote {
            animation: blockquoteFadeIn .4s ease;
            animation-fill-mode: both;
            &:nth-of-type(1) {
                animation-delay: .1s;
            }
            &:nth-of-type(2) {
                animation-delay: .2s;
            }
            &:nth-of-type(3) {
                animation-delay: .3s;
            }
        }
    }
    blockquote {
        quotes: "“" "”" "‘" "’";
        padding: 4rem 3rem;
        position: relative;
        background: linear-gradient(rgba(#2F58F7, .1), rgba(0,0,0,0));
        border-radius: 3px;
        font-size: 1.3rem;
        @include bp(xs) {
            padding: 4rem 1rem;
        }
        &::before {
            content: open-quote;
            position: absolute;
            font-size: 4rem;
            top: 0;
            left: 1rem;
            color: rgba(#fff, .4);
        }
        &::after {
            content: close-quote;
            position: absolute;
            font-size: 4rem;
            bottom: -1rem;
            right: 1rem;
            color: rgba(#fff, .4);
        }
        p {
            font-size: 1.1rem;
            @include bp(md) {
                font-size: 1.5rem;
            }
        }
        cite {
            font-family: $alt-stack;
            font-size: 1.1rem;
            font-style: normal;
            line-height: 1.25;
            @include bp(md) {
                font-size: 1.5rem;
            }
        }
    }
}
// }}}

// #contact {{{
#contact {
    p {
        &:first-of-type {
            font-size: 2rem;
            @include bp(md) {
                font-size: 3rem;
            }
        }
        font-family: $alt-stack;
        font-size: 1.3rem;
        line-height: normal;
        &:last-of-type {
            margin-bottom: 3rem;
        }
        @include bp(md) {
            font-size: 2rem;
        }
    }
}
// }}}
