// Margin/ Padding utilities
$spacer: 1rem !default;
$spacers: (
    auto: auto,
    0: 0,
    1: calc($spacer / 2),
    2: calc($spacer),
    3: calc($spacer * 1.5),
    4: calc($spacer * 2),
    5: calc($spacer * 3),
    6: calc($spacer * 4),
    7: calc($spacer * 5),
    8: calc($spacer * 6),
    9: calc($spacer * 7),
    10: calc($spacer * 8),
    11: calc($spacer * 10), 
    12: calc($spacer * 12), 
    13: calc($spacer * 14), 
    14: calc($spacer * 16), 
    15: calc($spacer * 18), 
    16: calc($spacer * 20) 
) !default;

$directions: (
    top: t,
    right: r,
    bottom: b,
    left: l
) !default;

@each $prop, $letter in (margin: m, padding: p) { 
    @each $direction, $d in $directions {
        @each $unit, $rem in $spacers {
            .#{$letter}#{$d}-#{$unit} {
                #{$prop}-#{$direction}: #{$rem};
            }
            .#{$letter}x-#{$unit} {
                #{$prop}: 0 $rem;
            }
            .#{$letter}y-#{$unit} {
                #{$prop}: $rem 0;
            }
        }
    }
}

// Breakpoints
@mixin bp($size) {
    @if $size == xs {
        @media only screen and (max-width: 575px) { @content; }
    } 
    @else if $size == sm {
        @media only screen and (min-width: 576px) { @content; }
    } 
    @else if $size == md {
        @media only screen and (min-width: 768px) { @content; }
    } 
    @else if $size == lg {
        @media only screen and (min-width: 992px) { @content; }
    } 
    @else if $size == xl {
        @media only screen and (min-width: 1200px) { @content; }
    }
    @else if $size == xxl {
        @media only screen and (min-width: 1400px) { @content; }
    }
}
