// ========================================
// Variables
// ========================================

// Breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// Colors
$off-white: #eee;
$nav-link: #818181;
$nav-link-hover: #f1f1f1;
$sidebar-bg: #202528;
$section-title: #424242;
$section-main-text: #888;
$icon-blue: #3F729B;
$icon-blue-hover: #1C2331;

// Fonts
$font-stack-header: 'Open Sans', sans-serif;
$font-stack-primary: 'Oxygen', sans-serif;
