// ========================================
// Contact Section
// ========================================

#experience {
  h4, h5, .subheading {
    color: $section-title;
  }
  .dev-icons {
    color: $icon-blue;
    font-size: 1.8rem;
    li {
      transition: 0.3s;
      &:hover {
        color: $icon-blue-hover;
      }
    } 
  }
}
