// ========================================
// Projects
// ========================================

.project-container {
  flex-flow: row wrap;
  justify-content: center;
  @include md {
    justify-content: space-around;
  }
  @include xl {
    justify-content: space-between;
  }
  a {
    margin-bottom: 2rem;
  }
}