// ========================================
// Nav
// ========================================

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $sidebar-bg;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 8rem;
  padding-bottom: 1rem;
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  @include lg { 
    transform: translateX(0);
    .closebtn {
      display: none;
    }
  }
  .avatar {
    padding: 0;
    display: block;
    margin-left: 32px;
    margin-bottom: 2rem;
    img {
      width: 140px;
      border-radius: 5px !important;
    }
  }
  .name {
    color: $off-white;
    margin-left: 32px;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: $nav-link;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: $nav-link-hover;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 2rem;
  right: 25px;
  margin-left: 50px;
}

.menu-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  @include lg {
    visibility: hidden;
  }
}

.menu {
  padding: 10px 15px;
  display: block;
}

.bottom {
  margin-left: 32px;
}

a.contact-btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 8px 4px;
}