// ========================================
// Base Styles
// ========================================

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack-primary;
}

h1,
h2,
h3,
h4 {
  font-family: $font-stack-header;
  letter-spacing: -0.1rem;
}

.wrapper {
  background: #fff;
  margin-top: 520px;
  @include lg {
    padding-left: 250px;
  }
}